.env
node_modules
deprecated

# Echidna
contracts/echidna
crytic-export

# Hardhat files
cache
scripts
artifacts
typechain
coverage
coverage.json

# Editor
.vscode

# Misc.
TODO
protocol.txt
checklist.txt
