{
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    }
  ]
}